.column-link{
    display: flex;
    margin-bottom: 10px;
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: white;
}

.column-link p{
    margin: 0;
    
}

.social-icon{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}