.cell_theme_dark{
    color: white;
    width: 200px;
    margin-top: 80px;
}

.cell_theme_dark h3{
    margin: 0 0 20px;
    text-align: start;
}
.cell_theme_dark p{
    text-align: start;
    margin: 0;
}