.main-text{
    width: 80%;

}

.main-text p{
    margin: 0 0 30px 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.main-text p:last-of-type{
    margin-bottom: 0;
}

.span-accent{
    font-weight: bold;
}