/* .header__main-illustration{
    width: 765px;
    height: 608px;
    position: absolute;
    right: 0;
    bottom: 0;
    border: blue solid 1px;
}  */

.header__main-illustration{
    z-index: 2;
}